.breadcrumb > li + li:before {
	content: "\00BB";
}
.breadcrumb {
padding: 8px 15px;
margin-bottom: 10px;
}
th.rotate {
height: 80px;
width: 80px;
white-space: nowrap;
}
th.rotate > div {
width: 30px;
transform: rotate(315deg);
-webkit-transform:rotate(315deg);
-moz-transform:rotate(315deg);
-o-transform:rotate(315deg);
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.main {
margin: 5px;
}
.page-header{
margin: 10px 0 10px;
}
.navbar {
position: relative;
min-height: 40px;
margin-bottom: 5px;
border: 1px solid transparent;
}

.btn-lg{
margin-bottom: 5px;
}
.big-checkbox
{
width: 24px; height: 24px;
}
.heading
{
    display: block;
	font-size: 36px;
    font-weight: bold;
}
.subheading
{
    display: block;
	font-size: 24px;
    font-weight: normal;
}
.troopnames
{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.data-dirty
{
    background: #f40;
}
.data-save-pending
{
    background: #fc3;
}
.patruller
{
    width: 100px;
}

a.hike
{
    color: green;
    font-style: italic;
}

.hike-tgl
{
    display: inline-block;
}

.auto-height
{
    width: 100%;
}

.multiline {
    white-space: pre;
}

.img1 {
    width: 32px;
    height: 32px;
}

.img2 {
    width: 48px;
    height: 48px;
}

.img3 {
    width: 64px;
    height: 64px;
}
