# Auto detect text files and perform LF normalization
* text=auto

# These files should have specific line endings
Dockerfile	text eol=lf
docker-compose.*	text eol=lf
*.sh	text eol=lf
*.bash	text eol=lf
