{% include "header.html" %}
<body>
{% include "navigation.html" %}
	<div class="main">
		<div class="jumbotron">
			<div class="btn-toolbar">
				<a href="/admin/access/" class="btn btn-lg btn-default">Access</a>
			</div>
			<hr/>
			<div class="btn-toolbar">
				<a href="/admin/setcurrentsemester" class="btn btn-lg btn-default">Byt till ny termin för alla användare</a>
			</div>
			<div class="btn-toolbar">
				<a href="/admin/backup/" class="btn btn-lg btn-default">Backup xml</a>
			</div>
			<div class="btn-toolbar">
				<a href="/admin/cleanup/" class="btn btn-lg btn-default">Cleanup</a>
			</div>
			<hr/>
			<div class="btn-toolbar">
				<a href="/admin/merge_sg/" class="btn btn-lg btn-default">Byt kårnamn</a>
			</div>
			<div class="btn-toolbar">
				<a href="/admin/update_person_ids/" class="btn btn-lg btn-default">Byt person id från personnummer till medlemsnummer</a>
			</div>
			<div class="btn-toolbar">
				<a href="/admin/test_email/" class="btn btn-lg btn-default">Test email</a>
			</div>
		</div>
	</div>
</body>
</html>
