{% include "header.html" %}
<body>
{% include "navigation.html" %}
	<div class="main container">
		<div class="jumbotron">
			<div class="btn-toolbar">
				<a href="/admin/access/" class="btn btn-lg btn-default">Access</a>
			</div>
			<div class="btn-toolbar">
				<a href="/import/" class="btn btn-lg btn-default">Importera från scoutnet</a>
			</div>
			<div class="btn-toolbar">
				<a href="/admin/setcurrentsemester" class="btn btn-lg btn-default">Byt till ny termin för alla användare</a>
			</div>
			<div class="btn-toolbar">
				<a href="/admin/semester/" class="btn btn-lg btn-default">Hantera terminer</a>
			</div>
			<div class="btn-toolbar">
				<a href="/admin/backup/" class="btn btn-lg btn-default">Backup xml</a>
			</div>
		</div>
	</div>
</body>
</html>
