{% include "header.html" %}
<body>
{% include "navigation.html" %}
	<div class="main">
		<div class="jumbotron">
			<a href="#" class="btn btn-lg btn-default">Termin</a>
			<a href="/admin/access/" class="btn btn-lg btn-default">Access</a>
			<hr/>
			<a href="/admin/backup/" class="btn btn-lg btn-default">Backup xml</a>
			<a href="/import/" class="btn btn-lg btn-default">Importera från scoutnet</a>
			<a href="/admin/deleteall/" class="btn btn-lg btn-default">Delete all data</a>
		</div>
	</div>
</body>
</html>
