{% extends "layout.html" %}
{% block main %}
<div class="table-responsive">
    <span class="heading">{{badge.name}}: {{person.getname()}}</span>
	<table id="maintable" class="table table-striped display nowrap" style="position: relative; z-index: 0;">
	  <thead>
		<tr>
			<th class="short_desc">Del</th>
			<th class="approved">Godkänd</th>
			<th class="date">Datum/Lång beskrivning</th>
			<th class="examiner">Godkänd av</th>
		</tr>
	  </thead>
	  <tbody>
		{% for part in badge_parts %}{% set idone = loop.index0 %}
		<tr><td>{{part.idx}}. {{part.short_desc}}</td>
		    <td><input class="attendance-cb checkbox big-checkbox" name="cbpart" type="checkbox" id="cb{{part.idx}}"{% if done[idone].done %} checked="" disabled=""{% endif%} /></td>
			<td>{% if done[idone].done %}{{done[idone].date}}{% else %}{{part.long_desc}}{% endif%}</td>
			<td>{{done[idone].examiner}}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
<div class="divider-vertical well">
    <button class="btn btn-g btn-warning saveinfo" id="save">Spara</button>
</div>
<script>
$(document).ready(function() {
	function compileCheckedState() {
        // Get all checked check boxes as [idx]
        var checkboxes = $('input:checkbox[name="cbpart"]');
        var checkedParts = [];
        for (var cb=0; cb < checkboxes.length; cb++)
		{
			if (checkboxes[cb].checked)
			{
				var idx = checkboxes[cb].id.substring(2);
                checkedParts.push(idx);
			}
		}
        checkedParts.sort()
        return checkedParts;
    }
	   function disableCheckedChecks() {
        // Disable all checked check boxes
        var checkboxes = $('input:checkbox[name="cbpart"]');
        for (var cb=0; cb < checkboxes.length; cb++)
		{
			if (checkboxes[cb].checked)
			{
                checkboxes[cb].disabled=true;
			}
		}
    }
	var initChecked = compileCheckedState();
    console.log("There are " + initChecked.length + " checked boxes");

	$('#save').click(function(event) {
        var button = event.target;
        var nowChecked = compileCheckedState();
        var newChecks = []
        for (var i=0; i < nowChecked.length; i++)
		{
            if (!initChecked.includes(nowChecked[i])) {
                newChecks.push(nowChecked[i])
            }
		}
        console.log("New: " + newChecks)
		var update = newChecks.join(",")
        var fd = new FormData();
		fd.append('action', 'saveparts');
		fd.append('update', update);
		$(button).addClass('data-save-pending');
		$.ajax({
			url:'./',
			data: fd,
			processData: false,
			contentType: false,
			type: 'POST',
			success: function(data) { if (data === "ok") {
				updateAfterPost($(button))
				}
			}
		});
	});

	function updateAfterPost(btn) {
		console.log("updateAfterPost: " + btn.attr('class'))
		resetDirtyButton(btn);
		console.log("updateAfterPost2: " + btn.attr('class'))
		var checked= compileCheckedState();
		disableCheckedChecks()
		console.log("Done refreshing")
		// disable all checked boxed and update the  figures
	}

    function resetDirtyButton(btn) {
		btn.removeClass('data-save-pending');
	}
});

</script>
{% endblock %}
