{% extends "layout.html" %}
{% block main %}
<div class="table-responsive">
    <span class="heading">{{badge.name}}: {{person.getname()}}</span>
	<table id="maintable" class="table table-striped display nowrap" style="position: relative; z-index: 0;">
	  <thead>
		<tr>
			<th class="short_desc">Del</th>
			<th class="date">Datum/Lång beskrivning</th>
			<th class="examiner">Godkänd av</th>
		</tr>
	  </thead>
	  <tbody>
		{% for part in badge_parts %}{% set idone = loop.index0 %}
		<tr><td>{{part.idx}}. {{part.short_desc}}</td>
		{% if change %}
			{% if done[idone].done %}<td>{{done[idone].date}}</td><td>{{done[idone].examiner}}</td>
			{% else  %}
			<td>{{part.long_desc}}</td><td><button class="btn btn-success approve" id="btn{{part.idx}}">Godkänn</button></td>
			{% endif %}
		{% else %}
			{% if done[idone].done %}<td>{{done[idone].date}}</td><td>{{done[idone].examiner}}</td>
			{% else  %}
			<td>{{part.long_desc}}</td><td>{{done[idone].examiner}}</td>
			{% endif %}
		{% endif %}
		</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
<script>
$(document).ready(function() {
	$('.approve').click(function(event) {
		var button = event.target;
		var idx = event.target.id.substring(3);
		console.log("Approve " + idx);
        var fd = new FormData();
		fd.append('action', 'approve');
		fd.append('idx', idx);
		$(button).addClass('data-save-pending');
		$.ajax({
			url:'./',
			data: fd,
			processData: false,
			contentType: false,
			type: 'POST',
			success: function(data) { if (data === "ok") {
				resetDirtyButton($(button));
				location.reload(); // Reload page with stored data
				}
			}
		});
	});

    function resetDirtyButton(btn) {
		btn.removeClass('data-dirty data-save-pending');
	}
});

</script>
{% endblock %}
