{% extends "layout.html" %}
{% block main %}
<div class="table-responsive">
	<table id="maintable" class="table table-striped display nowrap" style="position: relative; z-index: 0;">
	  <thead>
		<tr>
			<th class="troopnames">{{troop.name}}<br/><span class="heading">{{heading}}</span></th>
			{% for part in badge_parts_scout %}
			<th class="rotate"><div id="part-{{part.idx}}">{{part.idx}}. {{part.short_desc}}<br/></div></th>
			{% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for person in persons_scout_part %}{% set iperson = loop.index0 %}
		<tr class="{{person.key.urlsafe()}}">
		<td class="name-field troopnames" id="name{{person.key.urlsafe()}}" title="{{person.getname()}}">
			<a href="{{baselink+person.key.urlsafe()+ '/'}}">{{loop.index}}. {{person.getname()}}</a>
		</td>
		{% for part in badge_parts_scout %} {# name is meeting, id is the person #}{% set ipart = loop.index0 %}
			<td><input title="{{part.short_desc}}: {{person.getname()}}"
                 class="attendance-cb checkbox big-checkbox" name="cbpart"
                 id="{{person.key.urlsafe()}}:{{part.idx}}" type="checkbox"
                 {%if progress_scout_parts[ipart][iperson]%}checked="" disabled=""{% endif %}/></td>
		{% endfor %}
		</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
<!-- Full table of badge for reference. Normally hidden -->
<div class="table-responsive" id="badgetable" hidden>
	<table class="table table-striped display nowrap" style="position: relative; z-index: 0;">
	  <thead>
		<tr>
			<th class="short_desc">Del</th>
			<th class="long_desc">Beskrivning</th>
		</tr>
	  </thead>
	  <tbody>
		{% for part in badge_parts %}
		<tr><td>{{part.idx}}. {{part.short_desc}}</td><td>{{part.long_desc}}</td></tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
<div class="table-responsive">
	<table id="scoutpartstable" class="table table-striped display nowrap" style="position: relative; z-index: 0;">
	  <thead>
		<tr>
			<th class="troopnames">Admin kvar<br/></th>
			{% for part in badge_parts_admin %}
			<th class="rotate"><div id="part-{{part.idx}}">{{part.idx}}. {{part.short_desc}}<br/></div></th>
			{% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for person in persons_admin_part %}{% set iperson = loop.index0 %}
		<tr class="{{person.key.urlsafe()}}">
		<td class="name-field troopnames" id="name{{person.key.urlsafe()}}" title="{{person.getname()}}">
			<a href="{{baselink+person.key.urlsafe()+ '/'}}">{{loop.index}}. {{person.getname()}}</a>
		</td>
		{% for part in badge_parts_admin %} {# name is meeting, id is the person #}{% set ipart = loop.index0 %}
			<td><input title="{{part.short_desc}}: {{person.getname()}}"
                 class="attendance-cb checkbox big-checkbox" name="cbpart"
                 id="{{person.key.urlsafe()}}:{{part.idx}}" type="checkbox"
                 {%if progress_admin_parts[ipart][iperson]%}checked="" disabled=""{% endif %}/></td>
		{% endfor %}
		</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
<div class="table-responsive">
	<table id="scoutsdonetable" class="table table-striped display nowrap" style="position: relative; z-index: 0;">
	  <thead>
		<tr>
			<th class="troopnames">Klara scouter<br/></th>
		</tr>
	  </thead>
	  <tbody>
		{% for person in persons_done %}{% set iperson = loop.index0 %}
		<tr class="{{person.key.urlsafe()}}">
		<td class="name-field troopnames" id="name{{person.key.urlsafe()}}" title="{{person.getname()}}">
			<a href="{{baselink+person.key.urlsafe()+ '/'}}">{{loop.index}}. {{person.getname()}}</a>
		</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
<div class="divider-vertical well">
    <button class="btn btn-g btn-warning saveinfo" id="saveall">Spara</button>
    <button class="btn btn-g btn-info " id="showinfo">Märkesinfo</button>
</div>

<script>
$(document).ready(function() {
    function compileCheckedState() {
        // Get all checked check boxes as part_id:person_id
        var checkboxes = $('input:checkbox[name="cbpart"]');
        var checkedParts = [];
        for (var cb=0; cb < checkboxes.length; cb++)
		{
			if (checkboxes[cb].checked)
			{
                checkedParts.push(checkboxes[cb].id);
			}
		}
        checkedParts.sort()
        return checkedParts;
    }

    function disableCheckedChecks() {
        // Disable all checked check boxes
        var checkboxes = $('input:checkbox[name="cbpart"]');
        for (var cb=0; cb < checkboxes.length; cb++)
		{
			if (checkboxes[cb].checked)
			{
                checkboxes[cb].disabled=true;
			}
		}
    }

	function showProgress(checkedParts) {
		var persons = {};
        for (var i=0; i < checkedParts.length; i++) {
			var parts = checkedParts[i].split(":");
			var person = parts[0];
			var idx = parseInt(parts[1]);
			if (!(person in persons)) {
				persons[person] = [0, 0]
			}
			if (idx < {{ADMIN_OFFSET}}) {
				persons[person][0] += 1
			} else {
				persons[person][1] += 1
			}
		}
		for (const p in persons) {
			var value = persons[p]
			//console.log('status'+p + " "  + value)
			$('#status'+p).text(value)
		}
	}

    var initChecked = compileCheckedState();
    console.log("There are " + initChecked.length + " checked boxes");
    console.log(initChecked[0])



	$("#showinfo").click(function(event) {
        // Toggle description
        console.log("Toggle badge explanation via showinfo")
        $("#badgetable").toggle()
    });

	$("#saveall").click(function(event) {
        var button = event.target;
        var nowChecked = compileCheckedState();
        var newChecks = []
        for (var i=0; i < nowChecked.length; i++)
		{
            if (!initChecked.includes(nowChecked[i])) {
                newChecks.push(nowChecked[i])
            }
		}
        console.log("New: " + newChecks.length)
        var update = newChecks.join(",")
        var fd = new FormData();
		fd.append('action', 'saveparts');
		fd.append('update', update);
		console.log("updateBeforePost: " + $(button).attr('class'))
		$(button).addClass('data-save-pending');
		$.ajax({
			url:'./',
			data: fd,
			processData: false,
			contentType: false,
			type: 'POST',
			success: function(data) { if (data === "ok") {
				updateAfterPost($(button));
				}
			}
		});
	});

	function updateAfterPost(btn) {
		console.log("updateAfterPost: " + btn.attr('class'))
		resetDirtyButton(btn);
		console.log("updateAfterPost2: " + btn.attr('class'))
		var checked= compileCheckedState();
		showProgress(checked)
		disableCheckedChecks()
		console.log("Done refreshing")
		initChecked = compileCheckedState();  // To avoid double save
		// disable all checked boxed and update the  figures
	}

    function resetDirtyButton(btn) {
		btn.removeClass('data-save-pending');
	}

	var maintable = $('#maintable');
		maintable.dataTable({
		scrollX:true,
		scrollY:true,
		paging:false,
		ordering:false,
		info:false,
		fixedColumns:true,
		fixedHeader:false, // doesn't work with scrolling
		searching:false,
		bScrollCollapse:true,
		bScrollAutoCss:true,
		bAutoWidth:true
		//responsive:true
    });
	setTimeout(function (){
		// hack/fix for webkit to match sizes after css has been applied
		maintable.fnAdjustColumnSizing();
	}, 10);

});

</script>
{% endblock %}
