<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Skojjt</title>
        <link href="/css/style.css" rel="stylesheet">
        <script defer="defer" src="/js/es5.js" nomodule></script>
        <script defer="defer" src="/js/es6.js" type="module"></script>
    </head>
    <body>
        <h1><a href="#/"><img alt="Skojjt logo" src="/img/logo.png" /></a></h1>
        <p id="whoami">Ej Inloggad</p>
        <form id="loginform">
            <fieldset>
                <legend>Logga in</legend>
                <input type="submit" value="Logga in">
            </fieldset>
        </form>
    </body>
</html>
