<form role="form" target="_blank" method="POST" action="./lagerbidrag/?region=sthlm">
    <div class="col-xs-12 col-sm-12">
      <h4>Lägerbidrag för Stockholms kommun 2021</h4>
      Här genereras en ifylld lägerbidragsansökan i Word-format som laddas ner och som kan skickas till bidragsansvarig tillsammans med program.
      Mer info om hur man söker bidraget hittar ni <a href="https://foretagsservice.stockholm/stod-till-foreningar-och-kulturaktorer/stod-till-lov-och-lagerverksamhet/scoutlagerstod/">här</a>.
      Notera att kommunen vill ha ansökan i PDF-format, så försök konvertera innan inskickning.
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <label for="contactperson">Lägerledare</label>
      <input type="text" class="form-control" id="contactperson" name="contactperson" value=""/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
        <label for="contactemail">Lägerledaremail</label>
        <input type="text" class="form-control" id="contactemail" name="contactemail" value=""/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
        <label for="contactphone">Lägerledartelefon</label>
        <input type="text" class="form-control" id="contactphone" name="contactphone" value=""/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <label for="site">Plats</label>
      <input type="text" class="form-control" id="site" name="site" value="{{lagerplats}}"/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <label for="fromDate">Datum från (åååå-mm-dd)</label>
      <input type="date" required class="form-control" placeholder="åååå-mm-dd" name="fromDate" id="fromDate" min="{{semester.getMinDateStr()}}" max="{{semester.getMaxDateStr()}}"/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <label for="toDate">Datum till (åååå-mm-dd)</label>
      <input type="date" required class="form-control" placeholder="åååå-mm-dd" name="toDate" id="toDate" min="{{semester.getMinDateStr()}}" max="{{semester.getMaxDateStr()}}"/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
        <label for="hikeduringbreak">Läger under lov</label>
        <input type="checkbox" class="form-control" name="hikeduringbreak" id="hikeduringbreak"/>
    </div>
    <div class="btn-toolbar col-xs-12 col-sm-6">
      <button type="submit" name="submit" class="btn btn-lg btn-primary btn-default">Skapa rapport</button>
    </div>
  </form>