{% set hasMeeting = True if existingmeeting is defined else False %}
<form role="form" name="meeting" method="POST">
{% if hasMeeting %}
  <input type="hidden" name="action" value="updatemeeting"/>
{% else %}
  <input type="hidden" name="action" value="addmeeting"/>
{% endif %}
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group checkbox hike-tgl">
        <label>
          <input title="Del av läger" class="checkbox" name="ishike" id="mhike" type="checkbox" {% if hasMeeting and existingmeeting.getishike() %}checked{% endif %} />
          Del av läger
        </label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for="mname">Namn</label>
        <input type="text" class="form-control" placeholder="Mötesnamn" name="name" id="mname" value="{% if hasMeeting %}{{existingmeeting.getname()}}{% endif %}"/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for="mdate">Datum (termin {{semester.getname()}})</label>
        <input type="date" class="form-control" name="date" id="mdate" value="{% if hasMeeting %}{{existingmeeting.getdate()}}{% endif %}" min="{{semester.getMinDateStr()}}" max="{{semester.getMaxDateStr()}}"/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for="starttime">Starttid</label>
        <input type="time" class="form-control" name="starttime" id="starttime" value="{% if hasMeeting %}{{existingmeeting.gettime()}}{% endif %}"/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for="mduration">Längd (minuter)</label>
        <input type="number" class="form-control" name="duration" id="mduration" value="{% if hasMeeting %}{{existingmeeting.duration}}{% endif %}"/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for="mstoptime">Sluttid (för att räkna ut längd)</label>
        <input type="time" class="form-control" id="mstoptime" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button {% if semester.locked %}disabled="disabled"{% endif %} type="submit" name="submit" class="btn btn-lg btn-primary">{% if hasMeeting %}Spara{% else %}Lägg till{% endif %}</button>
    </div>
  </div>
</form>
{% if hasMeeting %}
<hr/>
<form role="form" name="deletemeeting" method="POST">
  <input type="hidden" name="action" value="deletemeeting"/>
  <div class="btn-toolbar">
  <button type="submit" class="btn btn-lg btn-danger">Ta bort</button>
  </div>
</form>
{% endif %}
<script>
  $(document).ready(function() {
    var durationField = $("#mduration");
    var dateField = $("#mdate");
    var startTimeField = $("#starttime");
    var stopTimeField = $("#mstoptime");
    var nameField = $("#mname");
    var hikeField = $("#mhike");

    {% if not hasMeeting %}
      dateField.val(getTodaysDateString());
      setDefaultTime(false);
    {% endif %}

    stopTimeField.change(function() {
      var from = startTimeField.val();
      var to = stopTimeField.val();

      var startTime = new Date('2012/10/09 ' + from);
      var endTime = new Date('2012/10/09 ' + to);
      var difference = endTime.getTime() - startTime.getTime(); // This will give difference in milliseconds
      var resultInMinutes = Math.round(difference / 60000);

      durationField.val(resultInMinutes);
    });

    durationField.change(function() {
      var from = startTimeField.val();
      var value = durationField.val();

      var startTime = new Date('2012/10/09 ' + from);

      var newDateObj = new Date(startTime.getTime() + value*60000);

      var hours = addZero(newDateObj.getHours());
      var minutes = addZero(newDateObj.getMinutes());

      stopTimeField.val(hours + ':' + minutes);
    });

    function addZero(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }

    durationField.change();

    hikeField.click(function() {
      var hikeChecked = this.checked;
      setDefaultTime(hikeChecked);
    });

    function setDefaultTime(hikeChecked) {
      // Set default name and time, but only if not already set to non-default value
      var oldName = nameField.val();
      var oldStart = startTimeField.val();
      var oldDur = durationField.val();
      var defaultStartMeeting = "{{troop.defaultstarttime}}";
      var defaultDurMeeting = "{{troop.defaultduration}}";
      var defaultStartHike = "00:00"
      var defaultDurHike = "1440"

      var setTime = function(start, dur) {
          startTimeField.val(start);
          durationField.val(dur);
          durationField.change();
      };

      if (hikeChecked) {
        if (!oldName || oldName === "Möte") {
          nameField.val("Läger");
          nameField.change();
        }
        if (!oldStart || (oldStart === defaultStartMeeting && oldDur === defaultDurMeeting)) {
          setTime(defaultStartHike, defaultDurHike);
        }
      } else {
        if (!oldName || oldName === "Läger") {
          nameField.val("Möte");
          nameField.change();
        }
        if (!oldStart || (oldStart === defaultStartHike && oldDur === defaultDurHike)) {
          setTime(defaultStartMeeting, defaultDurMeeting)
        }
      }
    }
  });
</script>
