{% set hasMeeting = True if existingmeeting is defined else False %}
<form role="form" name="meeting" method="POST">
{% if hasMeeting %}
  <input type="hidden" name="action" value="updatemeeting"/>
{% else %}
  <input type="hidden" name="action" value="addmeeting"/>
{% endif %}
  <div class="form-group">
	<label for="mname">Namn</label>
	<input type="text" class="form-control" placeholder="Mötesnamn" name="name" id="mname" value="{% if hasMeeting %}{{existingmeeting.getname()}}{% else %}Möte{% endif %}"/>
  </div>
  <div class="form-group">
	<label for="mdate">Datum</label>
	<input type="date" class="form-control" name="date" id="mdate" value="{% if hasMeeting %}{{existingmeeting.getdate()}}{% endif %}"/>
  </div>
  <div class="form-group">
	<label for="starttime">Starttid</label>
	<input type="time" class="form-control" name="starttime" id="starttime" value="{% if hasMeeting %}{{existingmeeting.gettime()}}{% endif %}"/>
  </div>
  <div class="form-group">
	<label for="mduration">Längd (minuter)</label>
	<input type="number" class="form-control" name="duration" id="mduration" value="{% if hasMeeting %}{{existingmeeting.duration}}{% endif %}"/>
  </div>
  {% if not hasMeeting %}
  <script>
	$("#mdate").val(getTodaysDateString());
	$("#starttime").val("{{defaultstarttime}}");
	$("#mduration").val("90");
  </script>
  {% endif %}
  <div class="btn-toolbar">  
  <button type="submit" name="submit" class="btn btn-lg btn-primary">{% if hasMeeting %}Spara{% else %}Lägg till{% endif %}</button>
  </div>
</form>
{% if hasMeeting %}
<hr/>
<form role="form" name="deletemeeting" method="POST">
  <input type="hidden" name="action" value="deletemeeting"/>
  <div class="btn-toolbar">
  <button type="submit" class="btn btn-lg btn-danger">Ta bort</button>
  </div>
</form>
{% endif %}
