{% include "header.html" %}
<body>
{% include "navigation.html" %}
	<div class="main">
		<div class="container">
		<form id="newperson" class="form-horizontal" role="form" name="person" method="POST">
		  <h1>Slå ihop olika kårnamn</h1>
			<p>Slår ihop data som tillhör en kår som har bytt namn. Flyttar över avdelningar, avdelningsmedlemmar, möten, personer och användare till den nya kåren.</p>
			<div class="form-group row">
			<label for="oldname" class="control-label col-sm-3">Gammalt kårnamn</label>
			<input type="text" class="form-control" name="oldname" id="oldname"/>
			</div>
			<div class="form-group row">
			<label for="newname" class="control-label col-sm-3">Nytt kårnamn</label>
			<input type="text" class="form-control" name="newname" id="newname"/>
			</div>
			<div class="form-group row">
			<label for="commit" class="control-label col-sm-3">Spara data</label>
			<input type="checkbox" class="form-control" name="commit" id="commit" />
			</div>
			<div class="form-group row">
			<label for="move_users" class="control-label col-sm-3">Flytta användare</label>
			<input type="checkbox" class="form-control" name="move_users" id="move_users" />
			</div>
			<div class="form-group row">
			<label for="move_persons" class="control-label col-sm-3">Flytta personer</label>
			<input type="checkbox" class="form-control" name="move_persons" id="move_persons" />
			</div>
			<div class="form-group row">
			<label for="move_troops" class="control-label col-sm-3">Flytta avdelningar och möten</label>
			<input type="checkbox" class="form-control" name="move_troops" id="move_persons" />
			</div>
			<div class="form-group row">
			<label for="semester" class="control-label col-sm-3">Konvertera termin:</label>
			<select class="form-control form-control-lg" name="semester" id="semester">
			{% for semester in semesters %}
				<option>{{semester.getname()}}</option>
			{% endfor %}
			</select>
			</div>
			<div class="form-group row">
			<label for="delete_sg" class="control-label col-sm-3">Radera gamla kåren</label>
			<input type="checkbox" class="form-control" name="delete_sg" id="delete_sg" />
			</div>
		   <button type="submit" name="submit" class="btn btn-lg btn-primary">Starta</button>
		  </div>
		</form>
		</div>
	</div>
</body>
</html>