{% include "header.html" %}
<body>
{% include "navigation.html" %}
	<div class="main">
		<h1 class="page-header">Personer</h1>
		<div class="table-responsive">
			<table id="maintable" class="table table-striped display nowrap">
			  <thead>
				<tr>
					<th>Namn</th>
					<th>Födelsedatum</th>
					<th>Email</th>
					<th>Telefon</th>
					<th>Mobil</th>
					<th>Adress</th>
					<th>Postadress</th>
					<th title="Lista med de år som personen varit medlem som skojjt känner till">Medlemsår</th>					
					<th title="Borttagen i scoutnet">Borttagen</th>
				</tr>
			  </thead>
			  <tbody>
				{% for person in persons %}
          <tr>
						<td><a href="{{baselink+person.key.urlsafe()}}/">{{person.getname()}}</a></td>
						<td>{{person.getbirthdatestring()}}</td>
						<td><a href="mailto:{{person.email}}">{{person.email}}</a></td>
						<td><a href="tel:{{person.phone}}">{{person.phone}}</a></td>
						<td><a href="tel:{{person.mobile}}">{{person.mobile}}</a></td>
						<td>{{person.street}}</td>
						<td>{{person.getPostadress()}}</td>
						<td>{{person.getMemberYearsString()}}</td>
						<td{%if person.removed%} class="removedPerson"{%endif%}>{{'Ja' if person.removed else ''}}</td>
				  </tr>
			    {% endfor %}
        </tbody>
			</table>
		</div>
		<button id="showRemovedPersons" type="button" class="btn btn-info" data-toggle="button" name="chkExtrainfo" autocomplete="off">Visa borttagna personer</button>
		<a id="fetch_memberlist_gbg" type="button" class="btn btn-info" href="./?gbg_csv">Hämta medlemslista för Göteborgs Kommumn</a>
	</div>
<script>
$(document).ready(function() {
	function HideRemovedPersons()
	{
		$('#maintable tr > td.removedPerson').each(function () {
			$(this).parent().hide();
		});
	}
	function ShowRemovedPersons()
	{
		$('#maintable tr > td.removedPerson').each(function () {
			$(this).parent().show();
		});
	}

	$('#showRemovedPersons').click(function(event) {
		var button = $(event.target);
		if (button.hasClass('active'))
		{
			HideRemovedPersons();
		}
		else
		{
			ShowRemovedPersons();
		}
	});

	table = $('#maintable').DataTable( {
		"pageLength": 250,
        "language": {
			"sEmptyTable": "Tabellen innehåller ingen data",
			"sInfo": "Visar _START_ till _END_ av totalt _TOTAL_ rader",
			"sInfoEmpty": "Visar 0 till 0 av totalt 0 rader",
			"sInfoFiltered": "(filtrerade från totalt _MAX_ rader)",
			"sInfoPostFix": "",
			"sInfoThousands": " ",
			"sLengthMenu": "Visa _MENU_ rader",
			"sLoadingRecords": "Laddar...",
			"sProcessing": "Bearbetar...",
			"sSearch": "Sök:",
			"sZeroRecords": "Hittade inga matchande resultat",
			"oPaginate": {
				"sFirst": "Första",
				"sLast": "Sista",
				"sNext": "Nästa",
				"sPrevious": "Föregående"
			},
			"oAria": {
				"sSortAscending": ": aktivera för att sortera kolumnen i stigande ordning",
				"sSortDescending": ": aktivera för att sortera kolumnen i fallande ordning"
			}
		}
		} );

		HideRemovedPersons();
});
</script>
</body>
</html>