{% extends "layout.html" %}
{% block main %}
<form role="form" name="scoutgroupinfo" method="POST" action="./">
  <div class="form-group col-xs-12 col-sm-6">
    <label for="organisationsnummer">Organisationsnummer</label>
    <input type="text" class="form-control" id="organisationsnummer" name="organisationsnummer" value="{{scoutgroup.organisationsnummer|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label for="bankkonto">Bankkonto</label>
    <input type="text" class="form-control" id="bankkonto" name="bankkonto" value="{{scoutgroup.bankkonto|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label for="epost">E-post</label>
    <input type="text" class="form-control" id="epost" name="epost" value="{{scoutgroup.epost|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label for="telefon">Telefon</label>
    <input type="text" class="form-control" id="telefon" name="telefon" value="{{scoutgroup.telefon|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label for="adress">Adress</label>
    <input type="text" class="form-control" id="adress" name="adress" value="{{scoutgroup.adress|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label for="postadress">Postadress</label>
    <input type="text" class="form-control" id="postadress" name="postadress" value="{{scoutgroup.postadress|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
	  <label for="foreningsID">Kommunens förenings ID</label>
	  <input type="text" class="form-control" id="foreningsID" name="foreningsID" value="{{scoutgroup.foreningsID|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
	  <label for="kommunID">Kommun ID</label>
	  <input type="text" class="form-control" id="kommunID" name="kommunID" value="{{scoutgroup.kommunID|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
	  <label for="firmatecknare">Firmatecknare</label>
	  <input type="text" class="form-control" id="firmatecknare" name="firmatecknare" value="{{scoutgroup.firmatecknare|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
	  <label for="firmatecknartelefon">Firmatecknartelefon</label>
	  <input type="text" class="form-control" id="firmatecknartelefon" name="firmatecknartelefon" value="{{scoutgroup.firmatecknartelefon|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
	  <label for="scoutnetID">Scoutnets kår ID</label>
	  <input type="text" class="form-control" id="scoutnetID" name="scoutnetID" value="{{scoutgroup.scoutnetID|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
	  <label for="apikey_all_members">Scoutnets all members apikey</label>
	  <input type="text" class="form-control" id="apikey_all_members" name="apikey_all_members" value="{{scoutgroup.apikey_all_members|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
	  <label for="apikey_waitinglist">Scoutnets waitinglist apikey</label>
	  <input type="text" class="form-control" id="apikey_waitinglist" name="apikey_waitinglist" value="{{scoutgroup.apikey_waitinglist|default("", True)}}"/>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label for="lagerplats">Lägerplats, standard</label>
    <input type="text" class="form-control" id="lagerplats" name="lagerplats" value="{{scoutgroup.default_lagerplats|default("", True)}}"/>
  </div>
  <div class="btn-toolbar col-xs-12 col-sm-12">
	  <button type="submit" name="submit" class="btn btn-lg btn-primary btn-default">Spara</button>
	  <input type="submit" class="btn btn-lg" name="import" value="Spara och Starta import" />
  </div>
</form>
{% endblock %}