{% extends "layout.html" %}
{% block main %}
<form role="form" name="scoutgroupinfo" method="POST" action="./">
  <div class="form-group">
	<label for="name">Organisationsnummer</label>
	<input type="text" class="form-control" name="organisationsnummer" value="{{scoutgroup.organisationsnummer|default("", True)}}"/>
  </div>
  <div class="form-group">
	<label for="name">Kommunens förenings ID</label>
	<input type="text" class="form-control" name="foreningsID" value="{{scoutgroup.foreningsID|default("", True)}}"/>
  </div>
  <div class="form-group">
	<label for="name">Kommun ID</label>
	<input type="text" class="form-control" name="kommunID" value="{{scoutgroup.kommunID|default("", True)}}"/>
  </div>
  <div class="form-group">
	<label for="name">Scoutnets kår ID</label>
	<input type="text" class="form-control" name="scoutnetID" value="{{scoutgroup.scoutnetID|default("", True)}}"/>
  </div>
  <div class="form-group">
	<label for="name">Scoutnets all members apikey</label>
	<input type="text" class="form-control" name="apikey_all_members" value="{{scoutgroup.apikey_all_members|default("", True)}}"/>
  </div>
  <div class="form-group">
	<label for="name">Scoutnets waitinglist apikey</label>
	<input type="text" class="form-control" name="apikey_waitinglist" value="{{scoutgroup.apikey_waitinglist|default("", True)}}"/>
  </div>
  <div class="btn-toolbar">  
	<button type="submit" name="submit" class="btn btn-lg btn-primary btn-default">Spara</button>
  </div>
  <div class="btn-toolbar">  
	<input type="submit" class="btn btn-lg" name="import" value="Spara och Starta import"></input>
  </div>
</form>
{% endblock %}