{% include "header.html" %}
<body>
{% include "navigation.html" %}
<div class="main"><div class="container"><div class="jumbotron">
	<img src="/img/logo.png" alt="logo" /><br />
	<img src="/img/stglogo.png" alt="stglogo" width="80%"/>
  <div class="btn-toolbar">
	<h3 class=>Välkommen {{user.getname()}}</h3>
	<a href="{{starturl}}" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-check"></span> Närvaroregistrering</a>
	<a href="{{personsurl}}" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-user"></span> Personregister</a>
  </div>
{% if user.canImport() %}
	<hr/>
	<div class="btn-toolbar">
	<a href="/import/" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-import"></span> Import</a>
	</div>
{% endif %}
{% if user.isGroupAdmin() %}
	<hr/>
	<div class="btn-toolbar">
	<a href="/groupaccess/" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-lock"></span> Kåraccess för användare</a>
	</div>
{% endif %}
{% if user.isAdmin() %}
	<hr/>
	<div class="btn-toolbar">
	<a href="/admin/" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-wrench"></span> Admin</a>
	</div>
{% endif %}
	<hr/>
	<a href="https://github.com/Scouterna/skojjt/wiki" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-education"></span> Dokumentation</a>
	<hr/>
	<a href="{{logouturl}}" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-remove"></span> Logout</a>
</div>
</div>
</div>
</body>
</html>
