{% extends "layout.html" %}
{% block main %}
<div class="table-responsive">
	<table id="maintable" class="table table-striped display nowrap">
	  <thead>
		<tr>
			<th><span class="heading">{{heading}}</span></th>
			{% for meeting in meetings %}
			<th class="rotate"><div><span><a href="./{{meeting.key.urlsafe()}}/">{{meeting.name}}</a><br/>{{meeting.getdate()}}</span></div></th>
			{% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for person in persons %}{% set iperson = loop.index0 %}{% set isleader = trooppersons[iperson].leader %}
		<tr><td class="name-field" id="name{{person.key.urlsafe()}}" data-leader="{% if isleader %}1{% else %}0{% endif %}">
			<a href="{{baselink+person.key.urlsafe()}}/">
			{{loop.index}}:{{ person.getname() }}{% if isleader %}(L){% endif %}
			</a>
		</td>
		{% for meeting in meetings %} {# name is meeting, id is the person #}{% set imeeting = loop.index0 %}
			<td><input class="attendance-cb checkbox big-checkbox" name="cb{{meeting.key.urlsafe()}}" id="{{person.key.urlsafe()}}" type="checkbox" {%if attendances[imeeting][iperson]%}checked=""{% endif %}/></td>
		{% endfor %}
		</tr>
		{% endfor %}
		{% if meetings %}
		<tr><td><span class="saveinfo">&nbsp;</span></td>
		{% endif %}
		{% for meeting in meetings %}
		<td>
			<button type="button" class="postattendance btn btn-lg" aria-label="Left Align" id="btn{{meeting.key.urlsafe()}}" >
				<span id="span{{meeting.key.urlsafe()}}" aria-hidden="true"></span>
			</button>
		</td>
		{% endfor %}
		{% if meetings %}
		</tr>
		{% endif %}
	  </tbody>
	</table>
</div>
<button data-toggle="collapse" data-target="#newmeeting" set-focus="#mname" class="btn btn-info btn-lg togglebutton">Nytt möte</button>
<div id="newmeeting" class="collapse">
{% include "meetingform.html" %}
</div>
<button data-toggle="collapse" data-target="#newmember" set-focus="#namesearch" class="btn btn-lg btn-info togglebutton">Lägg till person</button>
<div id="newmember" class="collapse">
<h2>Lägg till avdelningsmedlem</h2>
<div class="well"><div>Sök namn från registret:</div>
	<div id="scrollable-dropdown-menu">
		<input id="namesearch" type="text" placeholder="Namn" autocomplete="off"/>
	</div>
	<div id="nameResults"></div>
</div>
<div class="divider-vertical well">
<a href="newperson" class="btn btn-sm btn-warning">Registrera ny person</a>
</div>
</div>
<button data-toggle="collapse" data-target="#bidrag" set-focus="#bidragfocus" class="btn btn-lg btn-info togglebutton">Bidragsinfo</button>
<div id="bidrag" class="collapse well">
<a name="bidraginfo" id="bidragfocus"></a>
<table id="allowance" class="table table-striped display nowrap">
  <thead>
  <tr><th>Bidrag</th><th>&nbsp;</th></tr>
  </thead>
  <tbody id="allowanceinfo">
	{% for a in allowance %}
	<tr><td>{{ a['name'] }}</td><td>{{ a['value'] }}</td></tr>
	{% endfor %}
  </tbody>
</table>
</div>
<button data-toggle="collapse" data-target="#settings" set-focus="#settingslink" class="btn btn-lg btn-info togglebutton">Inställningar</button>
<div id="settings" class="collapse well">
<a id="settingslink" href="./settings">Avdelningens Inställningar</a>
</div>
<button data-toggle="collapse" data-target="#report" set-focus="#daklink" class="btn btn-lg btn-info togglebutton">Närvarorapport</button>
<div id="report" class="collapse well">
<a id="daklink" href="./dak">Rapportfil för Göteborgs Kommun</a>
</div>
<script>
$(document).ready(function() {
	$("#newmeeting").on('shown.bs.collapse', function(){
		$("#mname")[0].focus();
	});
	$("#newmember").on('shown.bs.collapse', function (){
		$("#namesearch")[0].focus();
	});
	$('.togglebutton').click(function(event)
	{
		// hack because shown.bs.collapse doesn't trigger with datatable included
		setTimeout(function() {$(event.target.attributes['set-focus'].value)[0].focus();}, 200);
	});
	var maintable = $('#maintable');
		maintable.dataTable({
		scrollX:true,
		scrollY:true,
		paging:false,
		ordering:false,
		info:false,
		fixedColumns:true,
		fixedHeader:false, // doesn't work with scrolling
		searching:false,
		bScrollCollapse:true,
		bScrollAutoCss:true,
		bAutoWidth:true
		//responsive:true
    });
	setTimeout(function (){
		// hack/fix for webkit to match sizes after css has been applied
		maintable.fnAdjustColumnSizing();
	}, 10);
	function updateParticipantCount(meeting_url)
	{
		var leaders = 0;
		var scouts = 0;
		var name = 'cb' + meeting_url;
		var checkboxes = $('input:checkbox[name="' + name + '"]');
		for (var cb=0; cb < checkboxes.length; cb++)
		{
			if (checkboxes[cb].checked)
			{
				var person_id = checkboxes[cb].id;
				var x = $('#name' + person_id)[0];
				var dd = x.attributes['data-leader'];
				if (dd != undefined)
				{
					var v=dd.value;
					if (v == '1')
					{
						leaders++;
						continue;
					}
				}
				scouts++
			}
		}
		$('#span' + meeting_url).html('' + scouts + '/' + leaders);
	}
    // update count on all buttons
	var btns = $('.postattendance');
	for (var i=0; i < btns.length; i++)
	{
		var meeting_url = btns[i].id.slice(3); // "btn..."
		updateParticipantCount(meeting_url);
	}	// end
	var DIRTY_COLOR = '#fa0';
	$('.attendance-cb').click(function(event) {
		meeting_url = event.target.name.slice(2);
		var btn = $('#btn'+meeting_url);
		btn.css('background-color',DIRTY_COLOR);
		btn.attr('data-dirty','1');
		updateParticipantCount(meeting_url);
		$(".saveinfo").text("Klicka för att spara:");
	});
	function resetDirtyButton(btn) {
		btn.css('background-color','#00FF00');
		btn.removeAttr('data-dirty');
		if (!isDirty()) { 
			$(".saveinfo").text("");
		}
	}
	$('.postattendance').click(function(event) {
		var button = event.target;
		if (button.type != 'button') // if you press on the glyphicon inside the button
			button = event.target.parentNode; // get the parent button instead
			
		var meeting_url = button.id.slice(3);
		var checkboxes = $('input:checkbox[name="cb' + meeting_url + '"]');
		persons = '';
		for (var cb=0; cb < checkboxes.length; cb++)
		{
			if (persons.length > 0) persons += ',';
			if (checkboxes[cb].checked)
				persons += checkboxes[cb].id;
		}
		var fd = new FormData();
		fd.append('action', 'saveattendance');
		fd.append('persons', persons);
		$('#btn'+meeting_url).css('background-color','#FFFF00');
		$.ajax({
			url:'./'+meeting_url+"/",
			data: fd,
			processData: false,
			contentType: false,
			type: 'POST',
			success: function(data) { if (data === "ok") resetDirtyButton($('#btn'+meeting_url));}
		});
	});
	var timerID = 0;
	var delay = (function()
	{
		return function(callback, ms)
		{
			clearTimeout(timerID);
			timerID = setTimeout(callback, ms);
		};
	})();
	$('#namesearch').on('keyup', function() {
		var val = $('#namesearch').val();
		if (val && val.length > 1)
		{
			delay($.ajax({
				url: '.',
				type: 'GET',
				data: 'action=lookupperson&name=' + val,
				async: true,
				success: function(data, textStatus, jqXHR) {
					arr = JSON.parse(data);
					t = '';
					$('#tblSearchResults').remove();
					table = $('<table id="tblSearchResults" class="table table-striped"/>');
					for (var x in arr)
					{
						table.append($('<tr><td><a href="' + arr[x].url + '?action=addperson"> + ' + arr[x].name + '</a></td></tr>'));
					}
					$('#nameResults').append(table);
					return data;
				}
			}), 1000);
		}
		else
		{
			clearTimeout(timerID);
			$('#tblSearchResults').remove();
		}
	});
});
function isDirty()
{
	var dd = $('.postattendance').attr('data-dirty');
	if (!dd)
	{
		return false;
	}
	if (dd == '1')
	{
		return true;
	}
	return false;
}
$(window).on('beforeunload', function(){
	if (!isDirty()) {
		return undefined;
	}
	var confirmationMessage = 'Du har osparade ändringar.';
	//(e || window.event).returnValue = confirmationMessage; //Gecko + IE
	return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
});
</script>
{% endblock %}