{% extends "layout.html" %}
{% block main %}
<h1 class="page-header">{{heading}}</h1>
<label for="semester" class="control-label col-sm-3">Termin:</label>
<select class="form-control form-control-lg" name="semester" id="semester" onchange="changeSemester(this)">
{% for semester in semesters %}
	<option value="{{semester.key.urlsafe()}}" {% if user.activeSemester==semester.key %}selected=""{% endif %}>{{semester.getname()}}</option>
{% endfor %}
</select><br/>
<div class="table-responsive">
	<table id="maintable" class="table table-striped">
	  <thead><tr><th class="col-xs-4 col-sm-2 col-lg-1">Namn</th></tr></thead>
	  <tbody>
		{% for troop in troops %}
		<tr><td><a href="{{baselink+troop.key.urlsafe()}}/">{{ troop.getname() }}</a></td></tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
{% if user.canImport() %}
<hr/>
<div class="well">
<a href="{{scoutgroupinfolink}}"><span class="glyphicon glyphicon-cog"></span> Kårinformation</a>
</div>
<div class="well">
<a href="{{groupsummarylink}}"><span class="glyphicon glyphicon-list-alt"></span> Föreningsredovisning</a>
</div>
{% endif %}
<script>
function changeSemester(x)
{
	if (window.confirm("Vill du byta termin?"))
	{
		location.href = "?action=setsemester&semester=" + x.options[x.selectedIndex].value;
	}
}
</script>
{% endblock %}