{% extends "layout.html" %}
{% block main %}
<h1 class="page-header">{{heading}}</h1>
<label for="semester" class="control-label col-sm-3">Termin:</label>
<select class="form-control form-control-lg" name="semester" id="semester" onchange="changeSemester(this)">
{% for semester in semesters %}
	<option value="{{semester.key.urlsafe()}}" {% if user.activeSemester==semester.key %}selected=""{% endif %}>{{semester.getname()}}</option>
{% endfor %}
</select><br/>
<div class="table-responsive">
	<table id="maintable" class="table table-striped">
	  <thead><tr><th class="col-xs-2">Namn</th><th class="col-xs-1">Märken</th>
	  {% for i in range(nr_badge_cols) %} <th class="col-xs-1"></th> {% endfor %} </tr></thead>
	  <tbody>
	  {% for troop in troops %}
	  <tr><td><a href="{{baselink+troop.key.urlsafe()}}/">{{ troop.getname() }}</a></td>
	    {% for badge in troops_badges[loop.index-1] %}
		  <td><a href="{{scoutgroupbadgeslink+'troop/'+troop.key.urlsafe()+'/'+badge.key.urlsafe()+'/'}}"><button><span class="glyphicon glyphicon-education">{{ badge.name }}</span></button></a></td>
		{% endfor %}
		<td><a href="{{scoutgroupbadgeslink+'troop/'+troop.key.urlsafe()}}"><button><span class="glyphicon glyphicon-education">Ändra</span></a></button></td>
		{% for i in range(nr_badge_cols-troops_badges[loop.index-1]|count) %} <td></td> {% endfor %}
	  </tr>
	  {% endfor %}
	  </tbody>
	</table>
</div>

<div class="well">
	<button class="btn btn-md btn-info" data-toggle="collapse" data-target="#lagerbidrag_info_gbg">Lägerbidrag Göteborg</button>
	<div id="lagerbidrag_info_gbg" class="collapse well">
		<div>Kommer ta närvaron för alla avdelningar under de valda datumen, gå in på respektive avdelning om du bara vill få närvaro från en.</div>
		{% include "lagerbidragform_gbg.html" %}

		<div class="clearfix"></div>
	</div>
	<button class="btn btn-md btn-info" data-toggle="collapse" data-target="#lagerbidrag_info_sthlm">Lägerbidrag Stockholm</button>
	<div id="lagerbidrag_info_sthlm" class="collapse well">
		<div>Kommer ta närvaron för alla avdelningar under de valda datumen, gå in på respektive avdelning om du bara vill få närvaro från en.</div>
		{% include "lagerbidragform_sthlm.html" %}

		<div class="clearfix"></div>
	</div>
</div>

<div class="well">
	<a href="{{scoutgroupbadgeslink}}" class="btn btn-info glyphicon glyphicon-education">Märken</a>
</div>

<div class="well">
	<a id="fetch_memberlist_gbg" type="button" class="btn btn-info" href="{{gbg_memberlist_csv_link}}">Hämta medlemslista för Göteborgs Kommumn</a>
</div>

{% if user.canImport() %}
<hr/>

<div class="well">
	<a href="{{scoutgroupinfolink}}"><span class="glyphicon glyphicon-cog"></span> Kårinformation</a>
</div>
<div class="well">
	<a href="{{groupsummarylink}}"><span class="glyphicon glyphicon-list-alt"></span> Föreningsredovisning</a>
</div>
<div class="well">
	<button data-toggle="collapse" data-target="#bidrag" set-focus="#bidragfocus" class="btn btn-lg btn-info togglebutton">Lägg till avdelning</button>
	<div id="bidrag" class="collapse well">
		<em>OBS! avdelningen läggs inte till i scoutnet, bara i skojjt. Du kan använda en skojjt avdelning för att dela upp närvaron i flera grupper.</em>
		<form role="form" name="newtroop" method="POST" action="./?action=newtroop">
			<input type="hidden" name="action" value="newtroop" />
			<div class="form-group">
			<label for="troopname">Avdelningsnamn</label>
			<input type="text" class="form-control" size="20" id="troopname" name="troopname" value=""/>
			</div>
			<div class="btn-toolbar">
			<button type="submit" name="submit" class="btn btn-lg btn-primary btn-default">Lägg till</button>
			</div>
		</form>
	</div>
</div>
{% endif %}
<script>
function changeSemester(x)
{
	if (window.confirm("Vill du byta termin?"))
	{
		location.href = "?action=setsemester&semester=" + x.options[x.selectedIndex].value;
	}
}
</script>
{% endblock %}