{% extends "layout.html" %}
{% block main %}
<h1>Uppdatera från scoutnet</h1>
<div class="well">
<a href="https://github.com/Scouterna/skojjt/wiki/Hur-man-importerar-medlemmar-fr%C3%A5n-scoutnet" class="btn btn-info btn-lg">
<span class="glyphicon glyphicon-info-sign"></span> Hur man importerar medlemmar från scoutnet</a>
</div>
<form action="./" method="POST" role="form">
<fieldset>
	<div class="form-group">
		<label for="groupid">Scoutnets kårid:</label>
		<input type="text" name="groupid" id="groupid" value="{{groupid}}" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="apikey">API nyckel:</label>
		<input type="text" name="apikey" id="apikey" value="{{apikey}}" class="form-control"/>
	</div>
	<input type="submit" class="btn btn-lg btn-default" value="Starta import" />
</fieldset>
</form>
{% endblock %}
